html
    head
        title= _title
    body
        h1 This is Pug Template Page
        ul
            -for(var i=0;i<5;i++)
                li forforfor
        div= variableMan
        div= Time